import React from 'react';
import PropTypes from 'prop-types';
// import { useNavigate, NavLink, useLocation } from 'react-router-dom';

export default function {{{COMPONENT_NAME}}}({}) {
    return <div>{{{COMPONENT_NAME}}}</div>
}

{{{COMPONENT_NAME}}}.propTypes = {
    
};

